In [151]:
# setup

import pandas as pd 
import numpy as np

# This project is about the popularity of board games, and what makes a board game successful.

One of my main hobbies is board games. Board games have evolved significantly from the classics, such as _Monopoly_, _Scabble_. and _The Game of Life_. The modern boardgame is incredibly diverse, with different mechanics, from card drafting, worker-placing and resource management. 

One of the major board game sites, <a href=https://boardgamegeek.com/>_BoardGameGeek_</a>, is a platform for the community to document releases, provide ratings and reviews, and discuss the intracies of the hobby.
This project will be using this dataset: <a href=https://www.kaggle.com/datasets/jvanelteren/boardgamegeek-reviews>BoardGameGeek Reviews</a>
I'll be asking questions and searching for answers throughout the project.

## Data import and cleaning.

The dataset for this project is split into 5 CSV files. 
<ul>
    <li>A list of 15 Million reviews, collected in 2020</li>
    <li>A list of 19 Million reviews, collected in 2022</li>
    <li>A list of Board games with over 30 reviews, collected in 2020</li>
    <li>A list of Board games with over 30 reviews, collected in 2022</li>
    <li>A list of board games with detailed information.</li>
</ul>

In [183]:
data = "./data"
df_20 = pd.read_csv(f"{data}/2020-08-19.csv")
df_20.head()

,Unnamed: 0,ID,Name,Year,Rank,Average,Bayes average,Users rated,URL,Thumbnail
0,90,30549,Pandemic,2008,91,7.62,7.518,96186,/boardgame/30549/pandemic,https://cf.geekdo-images.com/micro/img/0m3-oqB...
1,172,822,Carcassonne,2000,173,7.42,7.311,96181,/boardgame/822/carcassonne,https://cf.geekdo-images.com/micro/img/z0tTaij...
2,380,13,Catan,1995,381,7.16,7.001,96171,/boardgame/13/catan,https://cf.geekdo-images.com/micro/img/e0y6Bog...
3,49,68448,7 Wonders,2010,50,7.76,7.662,79830,/boardgame/68448/7-wonders,https://cf.geekdo-images.com/micro/img/h-Ejv31...
4,87,36218,Dominion,2008,88,7.63,7.521,74933,/boardgame/36218/dominion,https://cf.geekdo-images.com/micro/img/VYp2s2f...

In [185]:
df_20.set_index('ID', inplace = True)

In [187]:
display(df_20[df_20.duplicated()])
df_20.isna().value_counts()

Empty DataFrame
Columns: [Unnamed: 0, Name, Year, Rank, Average, Bayes average, Users rated, URL, Thumbnail]
Index: []

Unnamed: 0  Name   Year   Rank   Average  Bayes average  Users rated  URL    Thumbnail
False       False  False  False  False    False          False        False  False        19317
                                                                             True            13
Name: count, dtype: int64

In [189]:
# The data is very clean, with no missing values apart from 13 thumbnails. I'll drop these columns, and other inimportant columns..
to_drop = ["Thumbnail", "URL", "Unnamed: 0"]
df_20.drop(to_drop, axis = 1, inplace = True)

In [191]:
df_22 = pd.read_csv(f"{data}/2022-01-08.csv")
df_22.head()

,Unnamed: 0,ID,Name,Year,Rank,Average,Bayes average,Users rated,URL,Thumbnail
0,105,30549,Pandemic,2008,106,7.59,7.487,108975,/boardgame/30549/pandemic,https://cf.geekdo-images.com/S3ybV1LAp-8SnHIXL...
1,189,822,Carcassonne,2000,190,7.42,7.309,108738,/boardgame/822/carcassonne,https://cf.geekdo-images.com/okM0dq_bEXnbyQTOv...
2,428,13,Catan,1995,429,7.14,6.970,108024,/boardgame/13/catan,https://cf.geekdo-images.com/W3Bsga_uLP9kO91gZ...
3,72,68448,7 Wonders,2010,73,7.74,7.634,89982,/boardgame/68448/7-wonders,https://cf.geekdo-images.com/RvFVTEpnbb4NM7k0I...
4,103,36218,Dominion,2008,104,7.61,7.499,81561,/boardgame/36218/dominion,https://cf.geekdo-images.com/j6iQpZ4XkemZP07HN...

In [193]:
df_22.set_index('ID', inplace = True)

In [195]:
display(df_22[df_22.duplicated()])
df_22.isna().value_counts()

Empty DataFrame
Columns: [Unnamed: 0, Name, Year, Rank, Average, Bayes average, Users rated, URL, Thumbnail]
Index: []

Unnamed: 0  Name   Year   Rank   Average  Bayes average  Users rated  URL    Thumbnail
False       False  False  False  False    False          False        False  False        21825
                                                                             True             6
Name: count, dtype: int64

In [197]:
# The data is very clean, with no missing values apart from 6 thumbnails. As this is unneded for the analysis, I'll drop these now
df_22.drop(to_drop, axis = 1, inplace = True)

With just the data from the 2 lists of games, there's a few questions I'd like to ask:
<ol>
    <li>What are the highest rated games in both years?</li>
    <li>What is the average user rating in both years? Do users think the quality of games has gone up or down?</li>
    <li>How many more board games are there in 2022, compared to 2020?</li>
    <li>Which games had the highest change in rank?</li>
</ol>


### 1. What are the highest rated games in both years?

In [206]:
top20_2020 = df_20.sort_values(by='Rank').head(20)
top20_2020

,Name,Year,Rank,Average,Bayes average,Users rated
ID,,,,,,
174430,Gloomhaven,2017,1,8.82,8.569,37053
161936,Pandemic Legacy: Season 1,2015,2,8.62,8.470,38345
224517,Brass: Birmingham,2018,3,8.64,8.305,14531
167791,Terraforming Mars,2016,4,8.43,8.282,57319
233078,Twilight Imperium (Fourth Edition),2017,5,8.69,8.213,11466
182028,Through the Ages: A New Story of Civilization,2015,6,8.45,8.211,21035
220308,Gaia Project,2017,7,8.50,8.162,14270
187645,Star Wars: Rebellion,2016,8,8.42,8.160,21089
12333,Twilight Struggle,2005,9,8.30,8.148,38869
193738,Great Western Trail,2016,10,8.29,8.109,26372
169786,Scythe,2016,11,8.25,8.093,52485
115746,War of the Ring: Second Edition,2012,12,8.47,8.080,12436
162886,Spirit Island,2017,13,8.32,8.056,20726
84876,The Castles of Burgundy,2011,14,8.13,8.013,43508
120677,Terra Mystica,2012,15,8.16,8.006,37267
173346,7 Wonders Duel,2015,16,8.10,7.975,53475
124361,Concordia,2013,17,8.12,7.958,25698
28720,Brass: Lancashire,2007,18,8.16,7.949,18140
205637,Arkham Horror: The Card Game,2016,19,8.19,7.929,25045
266192,Wingspan,2019,20,8.11,7.925,32712

In [208]:
top20_2022 = df_22.sort_values(by='Rank').head(20)
top20_2022

,Name,Year,Rank,Average,Bayes average,Users rated
ID,,,,,,
174430,Gloomhaven,2017,1,8.74,8.511,47827
161936,Pandemic Legacy: Season 1,2015,2,8.59,8.442,45041
224517,Brass: Birmingham,2018,3,8.66,8.418,25484
167791,Terraforming Mars,2016,4,8.42,8.274,74216
233078,Twilight Imperium: Fourth Edition,2017,5,8.68,8.262,16025
291457,Gloomhaven: Jaws of the Lion,2020,6,8.68,8.260,15918
220308,Gaia Project,2017,7,8.47,8.175,19169
187645,Star Wars: Rebellion,2016,8,8.42,8.172,25586
182028,Through the Ages: A New Story of Civilization,2015,9,8.38,8.150,25605
115746,War of the Ring: Second Edition,2012,10,8.51,8.136,15498
162886,Spirit Island,2017,11,8.36,8.133,32199
193738,Great Western Trail,2016,12,8.29,8.123,32960
12333,Twilight Struggle,2005,13,8.28,8.113,43052
169786,Scythe,2016,14,8.22,8.064,64569
84876,The Castles of Burgundy,2011,15,8.13,8.008,50549
173346,7 Wonders Duel,2015,16,8.11,7.984,69472
167355,Nemesis,2018,17,8.39,7.982,17688
120677,Terra Mystica,2012,18,8.12,7.966,41806
124361,Concordia,2013,19,8.12,7.966,31519
28720,Brass: Lancashire,2007,20,8.18,7.963,20915

I've chosen an arbitary value to look at the top games in. But how many games stayed in the top 20? and which ones?

In [244]:
stayed_in_top20 = top20_2020.merge(top20_2022, how='inner', left_on = 'Name', right_on = 'Name')['Name'].values
num_in_top20 = len(stayed_in_top20)
stayedString = ""
for game in stayed_in_top20:
    stayedString = stayedString + game + "\n"
stayedString =  stayedString [:-1]
print(f"{num_in_top20} games stayed in the top 20. The ones that stayed were: \n{stayedString}")

17 games stayed in the top 20. The ones that stayed were:
Gloomhaven
Pandemic Legacy: Season 1
Brass: Birmingham
Terraforming Mars
Through the Ages: A New Story of Civilization
Gaia Project
Star Wars: Rebellion
Twilight Struggle
Great Western Trail
Scythe
War of the Ring: Second Edition
Spirit Island
The Castles of Burgundy
Terra Mystica
7 Wonders Duel
Concordia
Brass: Lancashire

In [313]:
top20_2022

,Name,Year,Rank,Average,Bayes average,Users rated
ID,,,,,,
174430,Gloomhaven,2017,1,8.74,8.511,47827
161936,Pandemic Legacy: Season 1,2015,2,8.59,8.442,45041
224517,Brass: Birmingham,2018,3,8.66,8.418,25484
167791,Terraforming Mars,2016,4,8.42,8.274,74216
233078,Twilight Imperium: Fourth Edition,2017,5,8.68,8.262,16025
291457,Gloomhaven: Jaws of the Lion,2020,6,8.68,8.260,15918
220308,Gaia Project,2017,7,8.47,8.175,19169
187645,Star Wars: Rebellion,2016,8,8.42,8.172,25586
182028,Through the Ages: A New Story of Civilization,2015,9,8.38,8.150,25605
115746,War of the Ring: Second Edition,2012,10,8.51,8.136,15498
162886,Spirit Island,2017,11,8.36,8.133,32199
193738,Great Western Trail,2016,12,8.29,8.123,32960
12333,Twilight Struggle,2005,13,8.28,8.113,43052
169786,Scythe,2016,14,8.22,8.064,64569
84876,The Castles of Burgundy,2011,15,8.13,8.008,50549
173346,7 Wonders Duel,2015,16,8.11,7.984,69472
167355,Nemesis,2018,17,8.39,7.982,17688
120677,Terra Mystica,2012,18,8.12,7.966,41806
124361,Concordia,2013,19,8.12,7.966,31519
28720,Brass: Lancashire,2007,20,8.18,7.963,20915

# Got a Dtype warning on first run, specifying dType of columns 29:Board Game Rank, and 49: Children's game rank
dtypes = { "Board Game Rank" : str,
           "Children's Game Rank": str
         }
df_game_details = pd.read_csv(f"{data}/games_detailed_info.csv", dtype = dtypes)
df_game_details.head()
df_game_details.set_index('id', inplace = True)

In [107]:
df_game_details.columns

Index(['Unnamed: 0', 'type', 'thumbnail', 'image', 'primary', 'alternate',
       'description', 'yearpublished', 'minplayers', 'maxplayers',
       'suggested_num_players', 'suggested_playerage',
       'suggested_language_dependence', 'playingtime', 'minplaytime',
       'maxplaytime', 'minage', 'boardgamecategory', 'boardgamemechanic',
       'boardgamefamily', 'boardgameexpansion', 'boardgameimplementation',
       'boardgamedesigner', 'boardgameartist', 'boardgamepublisher',
       'usersrated', 'average', 'bayesaverage', 'Board Game Rank',
       'Strategy Game Rank', 'Family Game Rank', 'stddev', 'median', 'owned',
       'trading', 'wanting', 'wishing', 'numcomments', 'numweights',
       'averageweight', 'boardgameintegration', 'boardgamecompilation',
       'Party Game Rank', 'Abstract Game Rank', 'Thematic Rank',
       'War Game Rank', 'Customizable Rank', 'Children's Game Rank',
       'RPG Item Rank', 'Accessory Rank', 'Video Game Rank', 'Amiga Rank',
       'Commodore 64 Rank', 'Arcade Rank', 'Atari ST Rank'],
      dtype='object')

In [113]:
df_game_details['Board Game Rank'].values

array(['106', '191', '429', ..., '19461', '17262', '12772'], dtype=object)

# Quick analysis:

What is the average rating of a board game?
What's the heighest ranking game of each genre?
Whta's the